<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>改名宝官网</title>
</head>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
</style>
<body>
<header style="background-color: #62b900">
    <div style="height: 98px">
        <div style="vertical-align: middle; float:left;">
            <div class="img-logo"></div>
            <div style="display: inherit;font-weight: bold; ">
                <div style="color: white; height: 35px;font-size: 28px;">改名宝官网</div>
                <div style="color: white; height: 25px; font-size: 10px;">http://www.baidu.com</div>
            </div>
        </div>
        <div style="display:inline;float: right;">
            <ul>
                <li><a href="#">产品介绍</a></li>
                <li><a href="#zixun">购买咨询</a></li>
            </ul>
        </div>
    </div>
</header>
</body>

</html>